* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Work-Sans";
  src: url("../fonts/WorkSans-VariableFont_wght.ttf") format("ttf");
}

@font-face {
  font-family: "Work-Sans-Italic";
  src: url("../fonts/WorkSans-Italic-VariableFont_wght.ttf") format("ttf");
}

body {
  font-family: "Work Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.page {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}
